<ul>
    <li><a asp-controller="Gorras" asp-action="NineFifty">9FIFTY</a></li>
    <li><a asp-controller="Gorras" asp-action="FiftyNineFifty">59FIFTY</a></li>
    <li><a asp-controller="Gorras" asp-action="NineForty">9FORTY</a></li>
    <li><a asp-controller="Gorras" asp-action="Buckets">BUCKETS</a></li>
</ul>
