@{
    ViewData["Title"] = "BUCKETS Gorras";
}

<div class="container mt-5">
    <h2 class="text-center">Gorras BUCKETS</h2>
    <div class="row">
        <!-- Gorra 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra28.jpg" class="card-img-top" alt="Gorra BUCKETS">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorro Bucket Red Bull Red Bull Seasonal Violet</h5>
                    <p class="card-text">$140.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        <!-- Gorra 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra29.jpg" class="card-img-top" alt="Gorra BUCKETS">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorro Bucket Red Bull Red Bull Seasonal Multicolor</h5>
                    <p class="card-text">$145.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        <!-- Gorra 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra30.jpg" class="card-img-top" alt="Gorra BUCKETS">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorro Los Angeles Dodgers MLB Open Misc</h5>
                    <p class="card-text">$150.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Gorra 4 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra31.jpg" class="card-img-top" alt="Gorra BUCKETS">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorro Chicago White Sox MLB Open Misc</h5>
                    <p class="card-text">$155.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
            </div>
        </div>
    
