@{
    ViewData["Title"] = "59 FIFTY Gorras";
}

<div class="container mt-5">
    <h2 class="text-center">Gorras 59 FIFTY</h2>
    <div class="row">
        <!-- Gorra 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra16.jpg" class="card-img-top" alt="Gorra 59FIFTY">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorro 59Fifty New Era Brand Black</h5>
                    <p class="card-text">$155.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        <!-- Gorra 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra17.jpg" class="card-img-top" alt="Gorra 59FIFTY">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorro 59Fifty Oakland Athletics Style Activist Black</h5>
                    <p class="card-text">$160.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        <!-- Gorra 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra18.jpg" class="card-img-top" alt="Gorra 59FIFTY">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorro 59Fifty Antlanta Braves Pastel Pack Beige</h5>
                    <p class="card-text">$170.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Gorra 4 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra19.jpg" class="card-img-top" alt="Gorra 59FIFTY">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorro 59Fifty Los Angeles Dodgers Pastel Pack Beige</h5>
                    <p class="card-text">$175.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        <!-- Gorra 5 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra20.jpg" class="card-img-top" alt="Gorra 59FIFTY">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorro 59Fifty New York Yankees 59Fifty Day Grey</h5>
                    <p class="card-text">$180.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        <!-- Gorra 6 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra21.jpg" class="card-img-top" alt="Gorra 59FIFTY">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorro Los Angeles Dodgers MLB 59Fifty Dark Red</h5>
                    <p class="card-text">$185.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</div>
