@{
    ViewData["Title"] = "9 FORTY Gorras";
}

<div class="container mt-5">
    <h2 class="text-center">Gorras 9 FORTY</h2>
    <div class="row">
        <!-- Gorra 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra22.jpg" class="card-img-top" alt="Gorra 9FORTY">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorro 9Forty Aframe Chicago White Sox Logo Essentials Multicolor</h5>
                    <p class="card-text">$150.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        <!-- Gorra 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra23.jpg" class="card-img-top" alt="Gorra 9FORTY">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorro 9Forty Chicago Bulls NBA Infill Black</h5>
                    <p class="card-text">$155.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        <!-- Gorra 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra24.jpg" class="card-img-top" alt="Gorra 9FORTY">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorro 9Forty Brooklyns Nets NBA Infill Black</h5>
                    <p class="card-text">$160.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Gorra 4 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra25.jpg" class="card-img-top" alt="Gorra 9FORTY">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorro 9Forty MLB New York Yankees Flawless Green</h5>
                    <p class="card-text">$165.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        <!-- Gorra 5 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra26.jpg" class="card-img-top" alt="Gorra 9FORTY">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorro Atlanta Braves MLB 9Forty Navy</h5>
                    <p class="card-text">$170.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        <!-- Gorra 6 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra27.jpg" class="card-img-top" alt="Gorra 9FORTY">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorra Universidad Católica de Chile 9Forty Pink</h5>
                    <p class="card-text">$175.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</div>
