@{
    ViewData["Title"] = "9 FIFTY Gorras";
}

<div class="container mt-5">
    <h2 class="text-center">Gorras 9 FIFTY</h2>
    <div class="row">
        <!-- Gorra 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra10.jpg" class="card-img-top" alt="Gorra 9FIFTY">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorro 9fifty Chicago Bulls NFL Salute to Service Multicolor</h5>
                    <p class="card-text">$150.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        <!-- Gorra 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra11.jpg" class="card-img-top" alt="Gorra 9FIFTY">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorro 9fifty Chicago Cubs MLB Armed Forces Black</h5>
                    <p class="card-text">$160.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        <!-- Gorra 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra12.jpg" class="card-img-top" alt="Gorra 9FIFTY">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorro 9fifty Chicago White Sox MLB Minty Breeze White</h5>
                    <p class="card-text">$155.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Gorra 4 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra13.jpg" class="card-img-top" alt="Gorra 9FIFTY">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorro Chicago Bulls NBA 9fifty Red</h5>
                    <p class="card-text">$170.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        <!-- Gorra 5 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra14.jpg" class="card-img-top" alt="Gorra 9FIFTY">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorro Los Angeles Lakers NBA 9fifty White</h5>
                    <p class="card-text">$165.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        <!-- Gorra 6 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/gorra15.jpg" class="card-img-top" alt="Gorra 9FIFTY">
                <div class="card-body text-center">
                    <h5 class="card-title">Gorra New York Yankees MLB 9Fifty Dark Blue</h5>
                    <p class="card-text">$180.00</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</div>
